.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 8px;
  min-width: var(--widget-width);
  max-width: var(--widget-width);
  height: 52px;
  background: #f3f4f6;
  border-radius: 6px;
  box-sizing: border-box;
  user-select: none;
}

.textProxy,
.text {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  max-width: 100%;
  width: 100%;
  font-variant-numeric: tabular-nums;
  text-align: right;
  color: #111827;
  user-select: none;
  overflow: hidden;
}

.textProxy::before {
  content: "~";
  position: absolute;
  left: 0px;
  top: -4px;
  font-size: 28px;
}